h5 {
    text-align: center;
}

input {
    max-width: 200px;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.col {
    flex: 1;
    border: 1px solid #aaaa;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.col h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.pet-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background: white;
    font-size: 14px;
}

.pet-card span {
    word-break: break-word;
    max-width: 120px;
}

input.form-control {
    max-width: 200px;
    padding: 4px 8px;
    font-size: 14;
}

button.btn {
    padding: 4px 10px;
    font-size: 13px;
}